ADMIN_USER_IDS="5920124635"
AI_PROVIDER="zai"
BOT_TOKEN=""
DB_PATH="/data/bot.db"

ZAI_API_KEY=""
ZAI_APP_NAME="Teopard Bot"
ZAI_BASE_URL="https://api.z.ai/api/paas/v4"
ZAI_MODEL="glm-5.2"
ZAI_REASONING_EFFORT="max"
ZAI_RETRY_REASONING_EFFORT="max"
ZAI_TEMPERATURE="0.10"

LLM_MAIN_TIMEOUT_SECONDS="240"
LLM_RETRY_TIMEOUT_SECONDS="240"
LLM_API_RETRIES="1"
LLM_MAIN_RETRY_LIMIT="1"
LLM_RETRY_SLEEP_SECONDS="2"
LLM_MAX_CONTINUATIONS="0"
LLM_MAX_OUTPUT_TOKENS="12000"
LLM_MAIN_OUTPUT_TOKEN_CAP="12000"

TEOPARD_GUARD_PROFILE="loose"
TEOPARD_PYTHON_ADJUST_SL="0"
TEOPARD_PYTHON_ADJUST_TP="0"
TEOPARD_EXTRA_SL_BUFFER_PCT="0"
TEOPARD_EXTRA_TP1_BUFFER_PCT="0"
TEOPARD_EXTRA_TP2_BUFFER_PCT="0"
TEOPARD_RR_USE_EXTRA_SL_BUFFER="0"
TEOPARD_RR_USE_EXTRA_TP_BUFFER="0"

TEOPARD_MIN_TP1_R_SCALP="0.70"
TEOPARD_MIN_TP2_R_SCALP="1.20"
TEOPARD_TP2_SEPARATION_MULT_SCALP="1.35"
TEOPARD_MIN_TP1_ATR_MULT_SCALP="0.50"
TEOPARD_MIN_TP2_ATR_MULT_SCALP="1.00"

TEOPARD_MIN_TP1_R_SWING="0.80"
TEOPARD_MIN_TP2_R_SWING="1.50"
TEOPARD_TP2_SEPARATION_MULT_SWING="1.40"
TEOPARD_MIN_TP1_ATR_MULT_SWING="0.50"
TEOPARD_MIN_TP2_ATR_MULT_SWING="1.00"

TEOPARD_MIN_SCALP_CONFIDENCE="62"
TEOPARD_MIN_SWING_CONFIDENCE="62"
TEOPARD_MIN_REVERSAL_CONFIDENCE="62"
TEOPARD_MIN_REVERSAL_BAD_MOMENTUM_CONFIDENCE="62"
TEOPARD_MIN_SETUP_STRENGTH="62"
TEOPARD_WEAK_CONFIRM_VOLUME="0.45"

TRADE_CANDIDATE_RETENTION_LIMIT="20"
TRADE_CANDIDATE_EXPIRE_HOURS="24"

DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL="https://api.deepseek.com"
DEEPSEEK_MODEL="deepseek-v4-flash"
DEEPSEEK_TIMEOUT_SECONDS="60"
DEEPSEEK_MAX_OUTPUT_TOKENS="700"
DEEPSEEK_TEMPERATURE="0.05"

AUTO_SCAN_INTERVAL_SECONDS="900"
AUTO_SCAN_MODES="short"
AUTO_SCAN_MIN_PREFILTER_CONFIDENCE="62"
AUTO_SCAN_MIN_FINAL_CONFIDENCE="62"
AUTO_SCAN_MIN_FINAL_SETUP_STRENGTH="62"
AUTO_SCAN_SIGNAL_COOLDOWN_MINUTES="180"
AUTO_SCAN_SEND_NO_TRADE="0"
AUTO_SCAN_CANDLE_CLOSE_DELAY_SECONDS="10"
AUTO_SCAN_LOG_LIMIT="20"
AUTO_SCAN_DEBUG="0"
AUTO_SCAN_SCHEDULER_TICK_SECONDS="60"
AUTO_SCAN_SLEEP_HOUR_VN="0"
AUTO_SCAN_WAKE_HOUR_VN="7"
